{% extends 'base.html' %}
{% block 'title' %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" class="form-bottom-margin">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-success">Login</button>
</form>
<p class="margin-top: 100px">I don't have an account. <a href="/sign-up">Sign up.</a></p>
{% endblock %}
