{% extends 'base.html' %}
{% block 'title' %}Sign up{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" class="form-bottom-margin">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-success">Sign up</button>
</form>
<p class="margin-top: 100px">I already have an account. <a href="/login">Sign in.</a></p>
{% endblock %}
