<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}
{% block title %}Your cabinet{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    <center><h1>Your cabinet</h1></center>
    <h2>Your Information</h2>
    <dl class="row">
      <dt class="col-sm-3">Your login name:</dt>
      <dd class="col-sm-9">{{user.username}}</dd>

      <dt class="col-sm-3">Your first and last name:</dt>
      <dd class="col-sm-9">{{user.first_name}} {{user.last_name}} </dd>

      <dt class="col-sm-3">Your email:</dt>
      <dd class="col-sm-9">{{user.email}}</dd>
    </dl>
    <h2>Change your password<h2>
    <button class="btn btn-danger" onclick="window.location.href='/password_change';">
          Change
    </button>
  {% else %}
    <h1>Something went wront. Please, login in your account or sing up.</h1>
  {% endif %}
{% endblock %}
