<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}
{% if container %}
  {% block title %}container.name{% endblock %}
{% endif %}
{% load static %}
{% load crispy_forms_tags %}
{% block extends_styles %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if cart %}
  <center><h1>Order information</h1></center>
  <dl class="row">
    <dt class="col-sm-3">Order id:</dt>
    <dd class="col-sm-9">{{ cart.id }}.</dd>

    <dt class="col-sm-3">Price:</dt>
    <dd class="col-sm-9">{{ price }}$</dd>
  </dl>
  <form method="POST">
    {% csrf_token %}
    {% crispy confirm_form %}
  </form>
  {% else %}
    <center><h1>Something went wrong.</h1></center>
    <p>No item yet.</p>
  {% endif %}

{% else %}
  <h1>You are not authorized!!! Please, sign in or sign up.</h1>
{% endif %}
{% endblock %}
