<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block extends_styles %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if cart %}
  <center><h1>Cart information</h1></center>
  {% else %}
  <h1>Something went wrong.</h1>
  {% endif %}

  {% if containers_filter %}
  <center><h2>Items in the cart</h2></center>
  <form method="get" class="form-bottom-margin">
    {{ containers_filter.form|crispy }}
    <button class="btn btn-sm btn-danger" type="submit">Sort</button>
  </form>
  <table class="table table-striped">
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Count</td>
      <td></td>
      <td></td>
    </tr>
    {% for container in containers_filter.qs %}
      <tr>
        <td><a href="{% url 'polls:detail' container.goodId_id %}">{{ container.name }}</a></td>
        <td>{{ container.price }}</td>
        <td>{{ container.count }}</td>
	<td>
          <button class="btn btn-success" onclick="window.location.href='{% url 'polls:cart_item' container.id %}';">Change</button>
	</td>
	<td>
	  <form method="POST">
	    {% csrf_token %}
	    <button type="submit" class="btn btn-danger" name="delete-container-id" value="{{container.id}}">Remove</button>
	  </form>
	</td>
      </tr>
    {% endfor %}
  </table>
  {% if not empty_cart %}
    <button class="btn btn-danger form-bottom-margin" onclick="window.location.href='{% url 'polls:cart_confirm' %}'">Confirm</button>
  {% endif %}
  {% else %}
      <p>No items yet.</p>
  {% endif %}

{% else %}
  <h1>You are not authorized!!! Please, sign in or sign up.</h1>
{% endif %}
{% endblock %}
