<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}

{% block title %}{{ good.name }}{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <center><h1>{{good.name|title}}</h1></center>
    <dl class="row">
      <dt class="col-sm-3">Description:</dt>
      <dd class="col-sm-9">{{ good.description|linebreaks }}</dd>

      <dt class="col-sm-3">Price:</dt>
      <dd class="col-sm-9">{{ good.price }}$</dd>

      <dt class="col-sm-3">Availability:</dt>
      <dd class="col-sm-9">
      {% if good.is_empty %}
        Available
      {% else %}
        Run Out
      {% endif %}
      </dd>
    </dl>
    {% if good.is_empty %}
    <form method="POST">
      {% csrf_token %}
      {% crispy buy_form %}
    </form>
    {% endif %}
{% endblock %}
