<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}
{% block title %}Goods{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block extends_styles %}
{% endblock %}

{% block content %}
  <center><h1>Catalog of goods</h1></center>
  {% if goods_filter %}
    <form method="get" class="form-bottom-margin">
      {{ goods_filter.form|crispy }}
      <button class="btn btn-sm btn-danger" type="submit">Sort</button>
    </form>
    <table class="table table-striped">
      <tr>
        <td>Good name</td>
        <td>Price</td>
        <td>Availability</td>
	<td></td>
      </tr>
      {% for good in goods_filter.qs %}
      <tr>
        <td><a href="{% url 'polls:detail' good.id %}">{{ good.name }}</a></td>
        <td>{{ good.price }}$</td>
        {% if good.is_empty %}
        <td>Available</td>
        <td>
	  <form method="POST">
	    {% csrf_token %}
	    <button type="submit" class="btn btn-success" name="good-id" value="{{good.id}}">Buy</button>
	  </form>
	</td>
        {% else %}
        <td>Run Out</td>
	<td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>No goods are available yet.</p>
  {% endif %}
{% endblock %}
