<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}
{% block title %}Orders{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block extends_styles %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <center><h1>Yours orders</h1></center>
  {% if orders_filter %}
  <form method="get" class="form-bottom-margin">
    {{ orders_filter.form|crispy }}
    <button class="btn btn-sm btn-danger" type="submit">Sort</button>
  </form>
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Date</td>
      <td>Price</td>
      <td>Destination</td>
      <td>Status</td>
    </tr>
    {% for order in orders_filter.qs %}
    <tr>
      <td><a href="{% url 'polls:order_detail' order.id %}">{{ order.id }}</a></td>
      <td>{{ order.order_date }}</td>
      <td>{{ order.price }}$</td>
      <td>{{ order.destination }}</td>
      <td> {{ order.status|lower|capfirst }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
      <p>No orders yet.</p>
  {% endif %}

{% else %}
  <h1>You are not authorized!!! Please, sign in or sign up.</h1>
{% endif %}
{% endblock %}
