<!--
#################################################################################
# Copyright (C) 2022 Kostiantyn Klochko <kostya_klochko@ukr.net>                #
#                                                                               #
# This file is part of feel-at-home.                                            #
#                                                                               #
# feel-at-home is free software: you can redistribute it and/or modify it under #
# the terms of the GNU Affero General Public License as published by the Free   #
# Software Foundation, either version 3 of the License, or (at your option)     #
# any later version.                                                            #
#                                                                               #
# feel-at-home is distributed in the hope that it will be useful, but WITHOUT   #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS #
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more  #
# details.                                                                      #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with feel-at-home. If not, see <https://www.gnu.org/licenses/>.         #
#################################################################################
-->
{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block extends_styles %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if order %}
  <center><h1>Order information</h1></center>
  <dl class="row">
    <dt class="col-sm-3">Oder id:</dt>
    <dd class="col-sm-9">{{ order.id }}.</dd>

    <dt class="col-sm-3">Price:</dt>
    <dd class="col-sm-9">{{ order.price }}$</dd>

    <dt class="col-sm-3">Destination:</dt>
    <dd class="col-sm-9">{{ order.destination }}.</dd>

    <dt class="col-sm-3">Status:</dt>
    <dd class="col-sm-9">{{ order.status|lower|capfirst }}</dd>
    </dd>
  </dl>
  {% else %}
  <h1>Something went wrong.</h1>
  {% endif %}

  {% if containers_filter %}
  <center><h1>Items in the order</h1></center>
  <form method="get" class="form-bottom-margin">
    {{ containers_filter.form|crispy }}
    <button class="btn btn-sm btn-danger" type="submit">Sort</button>
  </form>
  <table class="table table-striped">
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Count</td>
    </tr>
    {% for container in containers_filter.qs %}
    <tr>
      <td><a href="{% url 'polls:detail' container.goodId_id %}">{{ container.name }}</a></td>
      <td>{{ container.price }}</td>
      <td>{{ container.count }}</td>
    </tr>
    {% endfor %}
  </table>
  {% if order %}
    {% if 'shop assistant' in user_groups and order.status == "TODO" %}
	<form method="POST" class="btn btn-danger form-bottom-margin">
	  {% csrf_token %}
	  <button type="submit" class="btn btn-danger" name="TODO" value="TODO">Preparing is done</button>
	</form>
    {% endif %}
    {% if 'courier' in user_groups and order.status == "DOING" %}
	<form method="POST" class="btn btn-danger form-bottom-margin">
	  {% csrf_token %}
	  <button type="submit" class="btn btn-danger" name="DONE" value="DONE">Delivered</button>
	</form>
    {% endif %}
    {% if 'customer' in user_groups and order.status == "CONFIRM" and order.receiver == user %}
	<form method="POST" class="btn btn-danger form-bottom-margin">
	  {% csrf_token %}
	  <button type="submit" class="btn btn-danger" name="CONFIRM" value="CONFIRM">Confirm</button>
	</form>
    {% endif %}
  {% endif %}
  {% else %}
      <p>No items yet.</p>
  {% endif %}

{% else %}
  <h1>You are not authorized!!! Please, sign in or sign up.</h1>
{% endif %}
{% endblock %}
