body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 25px;
}

.form-bottom-margin {
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
